body {
  background-image: url("../asset/backgrounds/HomePage.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Headings */
h1 {
  color: black;
  font-family: "Lucida Console";
  font-size: 50px;
}

h2 {
  color: aqua;
  font-family: Arial;
}

h3 {
  color: white;
  font-size: 25px;
}

/* Text */
b {
  color: lime;
  font-family: "Monotype Corsiva", "Comic Sans MS", cursive;
  font-size: 33px;
}

/* Lists */
ul {
  list-style-type: square;
}

li {
  color: aqua;
  font-family: "Monotype Corsiva", "Comic Sans MS", cursive;
  font-size: 30px;
  margin-bottom: 20px;
}

/* Table */
table, th, td {
  border: 4px solid white;
  border-collapse: collapse;
  color: white;
  padding: 10px;
}

/* Images */
img {
  width: 20%;
  height: auto;
}

.home-icon {
  width: 10%;
}
